<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Image data:</b>
  <%= @picture.image_data %>
</p>

<p>
  <b>Public:</b>
  <%= @picture.public %>
</p>

<p>
  <b>User:</b>
  <%= @picture.user %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
