<p id="notice"><%= notice %></p>
  <div><b>Name:</b>
    <%= @picture.name %> <%=link_to "Download", @picture.image_data, download: @picture.name%></div>
<div><b>Created at:</b>
  <%= @picture.created_at %></div>
<div><b>Public:</b>
  <%= (@picture.public)?("Yes"):("No") %><br /> 
<%= link_to 'Back', request.referrer %>
</div>